<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>

    <p th:text="${configuration.name}">
        Dear
    </p>

    Code <p th:text="${httpResponse.code}">
</p>


    Duration : <p th:text="${httpResponse.duration}">
</p>


    Response Message :
    <p th:text="${httpResponse.message}">
    </p>


    result:
    <p th:text="${httpResponse.code}">
    </p>

    stackTrace:
    <p th:text="${httpResponse.stackTrace}">
    </p>

</div>
</body>
</html>
