<div>

    <h2 translate="monitoringApp.dashboard.home.title">Dashboards</h2>


    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">



        <div class="col-xs-6 col-md-4">
            <h2>Configurations</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="monitoringApp.projectConfiguration.name">Name</th>
                        <th translate="monitoringApp.projectConfiguration.lastError">LastError</th>
                        <th translate="monitoringApp.projectConfiguration.lastSucces">LastSucces</th>
                        <th translate="monitoringApp.projectConfiguration.actif">Actif</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                    <tr ng-repeat="projectConfiguration in dashboards.projectConfigurations">
                        <td><a ui-sref="projectConfigurationDetail({id:projectConfiguration.id})">{{projectConfiguration.name}}</a></td>
                        <td>{{projectConfiguration.lastError  | date:'dd-MM-yy HH:mm'}}</td>
                        <td>{{projectConfiguration.lastSucces | date:'dd-MM-yy HH:mm'}}</td>
                        <td>{{projectConfiguration.actif}}</td>
                        <td>


                                <div ng-if="!projectConfiguration.actif">
                                    <img class="picto" src="/assets/images/redcross.png"/>
                                </div>
                                <div ng-if="projectConfiguration.actif &&  projectConfiguration.lastSucces && !projectConfiguration.lastError ">
                                    <img class="picto" src="/assets/images/ledgreen.png"/>
                                </div>

                                 <div ng-if="projectConfiguration.actif  && ((projectConfiguration.lastError > projectConfiguration.lastSucces) || (!projectConfiguration.lastSucces)) ">
                                    <img class="picto" src="/assets/images/ledred.png"/>
                                </div>

                                 <div ng-if="projectConfiguration.actif  && projectConfiguration.lastError < projectConfiguration.lastSucces">
                                     <img class="picto" src="/assets/images/ledgreen.png"/>
                                 </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="alert alert-info">
                <h6>Legend</h6>

                <p class="list-group-item-text">
                    <img src="/assets/images/redcross.png"/> The service is stopped<br/>
                    <img src="/assets/images/ledgreen.png"/> The service is up<br/>
                    <img src="/assets/images/ledorange.png"/> The service is experiencing intermittent problems<br/>
                    <img src="/assets/images/ledred.png"/> The service is currently down<br/>
                </p>
            </div>
        </div>




        <div class="col-xs-12 col-md-8">
            <h2> Last error</h2>
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th translate="monitoringApp.response.configurationName">ConfigurationName</th>
                        <th translate="monitoringApp.response.type">Type</th>
                        <th translate="monitoringApp.response.message">Message</th>
                        <th translate="monitoringApp.response.code">Code</th>
                        <th translate="monitoringApp.response.duration">Duration</th>
                        <th translate="monitoringApp.response.date">Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="response in dashboards.responses">
                        <td>{{response.id}}</td>
                        <td><a ui-sref="responseDetail({id:response.id})">{{response.configurationName}}</a></td>
                        <td>{{response.type}}</td>
                        <td>{{response.message}}</td>
                        <td>{{response.code}}</td>
                        <td>{{response.duration}}</td>
                        <td>{{response.date | date:'dd-MM-yy HH:mm'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



</div>




<script>



</script>
